body {
  /*Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans serif;
}

@media only screen and (min-width: 820px) {
  section.projects {
    width: 100%;
    background-color: white;
  }
  div.projectlist {
    overflow: auto;
    border-top: 1px solid #456C6B;
  }
  div.cells.cell-center {
    margin: 0 auto;
    float: none;
  }
  div.box {
   /* margin: 0.5em;*/
  }
}

@media only screen and (max-width: 565px) {
  body {
    font-size: 0.6rem;
  }
}  

body >h1 {
  font-size: 1.5em;
}

ul.projects {
  text-align: left;
  margin-left: 1em;
}

ul.projects > li {
  list-style: circle;
}

div.box-image {
  max-height: 10em;
  overflow: hidden;
}

div.box-image img {
  max-width: 100%;
  cursor: pointer;
}

#thisyear {
  display: block;
  position: relative;
  top: -59px;
  visibility: hidden;
}

.projectlist {
  display: flex;
  flex-wrap: wrap-reverse;
}

.content-footer {
   text-align: center;
}

#navhead {
 width: 100%;
 padding-left: 0.5em;
 padding-right: 1em;
 background-color: #456C6B;
 position: fixed;
 padding-bottom: 0.5em;
 padding-top: 0.5em;
}

#title-line {
  /*font-family: "Open Sans", "Helvetica Neue", sans serif;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 1em;
  display: inline-block;
  color: white;
}

#navigation {
  float: right;
  display: inline-block;
  margin-right: 1em;
}

.navibutton {
  background-color: white;
  border: none;
  color: #456C6B;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  cursor: pointer;
}

.imagehead {
  background-image: url('http://i.imgur.com/aRBbIMS.jpg');
  background-size: cover;
  border-top: 0.5em solid #456C6B;
  /*max-height: 4em;*/
  height: 30em;
  display: flex;
  padding-top:2.5em;
}

.cells {
  width: 33%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2em;
  padding-top: 1em;
}

.aboutme {
  width: 33%;
  background-color: white;
  align-self: center;
  padding: 1em;
}

section.projects >h1 {
 font-family: "Open Sans", "Helvetica Neue", sans serif;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase; 
}

@media only screen and (max-width: 700px) {
  .masthead-heading,
  .masthead-text {
    font-size: 1.3em;
  } 
}

.content-footer {
  margin-bottom: 0.1em;
}

.masthead-intro {
  margin-top: -1.1em;
}

.projects {
  padding-left: 0.5em;
  padding-top: 1em;
}

.content-footer >p,
.box >p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

h1 {
  margin: 0;
}

h2 {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #456C6B;
  text-align: left;
}

a {
  max-width: 100%;
  text-decoration: none;
}


.footer-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 2em;
}

.box {
  float: right;
  background-color: white;
}

.social >li {
  diplay: inline-block; 
}
strong {
  color:#456C6B;
  font-weight: bold;
}
.content-footer {
  background-color:#456C6B; 
  min-height: 12em;
}
.content-footer >p {
  color: white;
  padding-top: 1em;
}
ul {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  text-align: center;
  padding-left: 0em;
}

a {
  color: white;
  text-decoration: none;
}